

.footer-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-blog button{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    outline: 0;
    border: none;
    color: #FFF;
    background-color: #cc4cc6;
    padding: 0.4rem;
    border-radius: 10px;

}

.style-blog{
    text-align: center;
}
.style-blog h5{
    font-weight: bold;
    font-size: 18px;
}