:root {
  --primary-color: #181c2a;
  --Secondary-color: #000000;
  --primary-Text: #FFFf;
  --Secondary-Text: #6a7291;
  --bodrder-radius: 11px
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'IranSans';
  src: url('/IRANSans/IRANSans_Bold.ttf');
}

body {
  font-family: 'IranSans' !important;
  background-color: var(--Secondary-color) !important;
  height: 100vh;
  color: var(--primary-Text) !important;
  position: relative;

  direction: rtl;
}

.main-content {}

.main-content .SideBar {
  min-height: 110vh;
  background-color: var(--primary-color);
  border: 1px solid #000000;
  color: var(--Secondary-Text);
  max-width: 244px !important;

}

.profile-pic img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.main-content .SideBar .Menu-SideBar {
  /* background-color: red; */

}

.main-content .SideBar .Menu-SideBar .menu-item {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 21px;
  border-radius: var(--bodrder-radius);
  cursor: pointer;
  transition: 1s all;

}

.menu-item:hover {
  background-color: #201f1f;
  color: #FFF
}

.menu-item span {
  padding-top: 4px;
}

.box-circle {
  background-color: rgba(108, 114, 147, 0.2);

  border-radius: 100%;
  margin-left: 8px;
  text-align: center;
  width: 31px;
  height: 31px;
  font-size: 18px;
  color: #fff;
  border: 1px solid #201f1f;
  cursor: pointer;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important; */
  position: relative;

}

.box-circle i {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0.8125rem;

}


.main-content .content {
  height: 100vh;
  background-color: inherit;


}

.content .header-admin {
  width: 106%;
  height: 77px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  margin-right: -86px;


}

.content .header-admin .search input {
  background-color: var(--primary-color);
  border: 0.5px solid #3e3e3e;
  border-radius: var(--bodrder-radius);

}

input::placeholder {
  color: var(--Secondary-Text) !important;
}

.content .header-admin .manage {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 25px;

}


.content .static-boxes {
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center;
  background-color: red; */

}

.content .static-boxes .static-item {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  border-radius: var(--bodrder-radius);

  height: 131px;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  color: #FFFf;
}

.mobile-nav {
  background: #4b4a4a;
  width: 100%;
  height: max-content;
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .content .static-boxes .static-item {
    width: 80%;
    margin-top: 15px;
    height: max-content;

  }
}

.content .static-info strong {
  font-size: 21px;

}

.content .static-info span {
  font-size: 16px;
  font-weight: bold;

}



.content .static-icon {
  margin-top: 6px;
  font-size: 40px;
}

.content .General_Statistics {
  width: 100%;

  height: 400px;
  border-radius: var(--bodrder-radius);
}

.content .General_Statistics .General_Statistics-item {
  background-color: var(--primary-color);
  border-radius: var(--bodrder-radius);
  height: max-content;
  margin-top: 15px;


}

.Product-Available {
  background-color: var(--primary-color);
  height: 360px;
  border-radius: var(--bodrder-radius);
}

.General_Statistics-item-2 {
  background-color: var(--primary-color);
  border-radius: var(--bodrder-radius);
  height: 360px;


}

.General_Statistics-item .payment-history {
  background-color: #2b2929;
  color: #CCC;
  width: 100%;
  height: 94px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-radius: var(--bodrder-radius);

}

.item-staticAll {
  background-color: #12151e;
  width: 100%;
  height: 120px;
  margin-top: 18px;
  padding: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--bodrder-radius);
  cursor: pointer;
  max-width: 48% !important;
  transition: 1s all;


}

.item-State {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  color: #00d25b;
  font-size: 26px;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: auto;
}

.item-State small {
  font-size: 18px;
  color: var(--Secondary-Text);
}

.Top-Sold {
  height: 360px;
  background-color: var(--primary-color);
  text-align: right;
  border-radius: var(--bodrder-radius);
}

.Top-Sold ul {
  list-style: none !important;
}


.top-item {
  margin-top: 19px;
}

.item-staticAll:hover {
  background-color: #FFF;
}

.General_Statistics-item-2 ul {
  list-style: none;
}

.General_Statistics-item-2 img {
  width: 50px;
  height: 67px;
}

.setting-them {
  position: fixed !important;
  bottom: 36;
  right: 36;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #3e3e3e;
  cursor: pointer;
}

.setting-them {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 20px;
  transition-duration: 0.8s;
  transition-property: transform;
  position: absolute;
}

.setting-them:hover i {
  transform: rotate(90deg);


}

.setting-box {
  position: absolute;
  right: 0;
  bottom: 90;
  background-color: #FFF;
  width: 244px !important;
  height: 180px;
  display: none;
}

.swiper {
  width: 100%;
  height: 80%;
  border-radius: var(--bodrder-radius);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #12151e !important;
}

.card {

  background-color: #12151e !important;
  border: 0;
  cursor: pointer;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.card-text {
  font-size: 16px;
  font-weight: bold;
  margin-top: 3px;
  color: #FFF !important;
}

.card-title {
  color: #FFF !important;
  font-size: 14.5px;
}

.card-footer {
  border-radius: var(--bodrder-radius) !important;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: var(--Secondary-Text) !important;
  /* border-style: solid; */
  /* border-width: 0; */
}

.charts {
  margin-top: 25px;
}



.Right-Chart {
  background-color: var(--primary-color);
  width: 100%;
  border-radius: var(--bodrder-radius);
  height: 360px;
}

.Left-Chart {
  background-color: var(--primary-color);
  width: 100%;
  border-radius: var(--bodrder-radius);
  height: 360px;
}

.chart-center {
  background-color: var(--primary-color);
  text-align: right;
  border-radius: var(--bodrder-radius);

}

/* .chart {
  border: 3px solid royalblue;
} */
.Ticket-Status {
  margin-top: 25px;

}

.Ticket-Status-ITEM {
  background-color: var(--primary-color);
  color: #FFF;
  width: 19% !important;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
  transition: 1.5s all;
  border-radius: var(--bodrder-radius);
}

.Ticket-Status-ITEM:hover {
  background-color: #00d25b;

}

@media only screen and (max-width: 800px) {

  .Ticket-Status-ITEM {
    margin: 15px auto !important;
    width: 80% !important;
  }
}

.Box-Information {
  height: 820px;
  width: 100%;
  background-color: var(--primary-color);
  margin-top: 25px;
  border-radius: var(--bodrder-radius);
  padding-bottom: 25px;

}

.info-product {
  height: 635px;
  overflow-y: auto;
  overflow-x: auto;


}

.info-product label {
  margin-right: 4px;
}

.info-product input {
  background-color: #2c2d3c;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 1px solid #3c3e4d;
  border-radius: 14px;
  width: 100%;
  height: 45px;
  margin-top: 8px;
  margin-bottom: 15px;
  color: #ffff;
  padding-right: 15px;
}

.info-product textarea {
  background-color: #2c2d3c;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 1px solid #3c3e4d;
  border-radius: 14px;
  width: 100%;
  resize: none;
  /* cursor: pointer; */
}

.info-product input:focus {
  outline: none !important;
  border-right: 3px solid green !important;
  border-bottom: 1.5px solid green !important;
  ;
  color: #ffff;
  /* text-align: center; */
  padding-right: 15px;


}

.preview-product {
  height: 635px;
  overflow-y: auto;
  overflow-x: auto;

}

.box-add-image {
  width: 60px !important;
  height: 60px !important;
  background-color: #2c2d3c;
  margin-right: 18px;
  position: relative;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;

}

.plus-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.TitlePage {
  background-color: var(--primary-color);
  height: 60px;
  width: 100%;
  margin-top: 18px;
  border-radius: 10px;
  padding-right: 25px;
  justify-content: center;
  align-content: center;

}

.box-comment {
  background-color: var(--primary-color);
  border-radius: var(--bodrder-radius);
  list-style-type: none;
  height: max-content;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-bottom: 35px;
  color: #FFFFFf;
}

.box-comment .nav-link {
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  height:30px
}

.box-comment .nav-link:hover {
  color: red !important;
}
.box-comment .nav-link {
  border-left: 0.5px solid #b7b9b7;
}

.comment-item {
  border: 1px solid #3f3d3d;
  margin-top: 25px;
  background-color: #181c2a;
  height: max-content;
  justify-content: space-between;
  align-content: center;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;

}